/* font option */
@font-face {
    font-family: 'vcr';
    src: url('../fonts/vcr.ttf') format('truetype');
  }

/*stage*/
#base{
    position: fixed;
    left:0px;
    top:0px;
    opacity : 1;
    transition: all 1s;
}
/*characters*/
/*week1*/
.player {
    position:relative;
    left:0px;
    top : 0px;
    z-index:50;
}.opponent {
    position:relative;
    left:0px;
    top : 0px;
    z-index:50;
}
/* stages*/
/* week1*/
.back{
    position:absolute;
    top:0px;
    left:-310px;
    z-index:49;
}.front{
    position:absolute;
    top:750px;
    left:-310px;
    z-index:49;
}.curtain{
    position:absolute;
    top:0px;
    left:-310px;
    z-index:49;
}
/* text */
.scoreTxt{
    position:fixed;
    font-size:32px;
    color:#fff;
    text-align:center;
    left:35vw;
    top:90vh;
    text-shadow: -3px -3px 3px #000, 3px -3px 3px #000, -3px 3px 3px #000, 3px 3px 3px #000;
    font-family: vcr;
    line-height: 1.5; /* 行の高さを調整 */
}
/* healthBar */
.healthBarBG {
    width: 200px;
    height: 20px;
    position: relative;
    top: 90vh;
    z-index: 100;
}

.health-bar-img {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 110;
}

.healthBar_LEFT {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.healthBar_RIGHT {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #f00;
    transition: width 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

/* strums */
.strums{
    position:absolute;
    width:108px;
}.press{
    transform: scale(1.3);
}.relese{
    transform: scale(1);
}._opponent{
    position:absolute;
    text-align:left;
}.opponent_strum {
    position:relative;
    left:120px;
}._player{
    text-align:right;
}.player_strums{
    position:relative;
    right:100px;
}.other{
    position:relative;
    left:500px;
}
.pika_strum{
    position:relative;
    left:100px;
    top:150px;
}
/*cams*/
#camHUD {
    width: 100vw;
    height: 10vh;
    opacity : 1;
    position: fixed;
    top: 100px;
    z-index: 500;
}

#camGame {
    width: 100vw;
    height: 100vh;
    opacity : 1;
    position: fixed;
    top: -150px;
    left: -90px;
    z-index: 100;
}