@font-face {
  font-family: 'Pokemon';
  src: url('../fonts/Pokemon.ttf') format('truetype');
}
@font-face {
  font-family: 'azuki';
  src: url('../fonts/azuki.ttf') format('truetype');
}
.main{
    background-color:#000;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    position:relative;
    /*top:-400px;*/
    object-fit: contain;
}
.bg_Color_Change{
    background-color:#e6ddb3;
}
.text{
  white-space: pre-line;
}
/* pictures setting*/
.pokemon{
  image-rendering: pixelated;
  width: 300px;
  height: 300px;
}
/* mouse cursor setting*/
.pointer{
    cursor: pointer;
}
/* floats */
.float_left{
    float:left;
}
.float_clear{
    clear:both;
}
.fpsTEXT{
  top: -66.3px;
  z-index: 1111;
}
/* center */
.center{
  text-align:center;
}
/* i don't know */
.article-hero {
  margin: 0 16px 0 10px;
  margin: 0 auto;

  background-color: #d6cda3;
  padding: 24px 24px 16px;
}
/* font set */
.pokemon_font{
  font-family: Pokemon;
}
.fontsize_set{
  font-size:20px;
}
/* box style setting */
.tbox-style {
  font-size:16px;
  padding-top   : 4px;
  padding-right : 4px;
  padding-bottom: 2px;
  font-weight : bold;
}
/* normal text setting */
.text-style {
  font-size:19px;
  font-weight : bold;
}
.azuki_font{
  font-family: azuki;
}
.right{
  padding-right: 300px;
}
.next_Button{
  text-align: right;
}
.content {
  zoom: 1;
  margin: 0 auto 100px auto;
  padding: 0 10px;
}
.left{
  padding-left: 300px;
}

.sub_menu {
  position: absolute;
  right: 0;
  z-index: 10000;
  width: 100%;
  background-color: white;
  padding: 5px 0;
}

#search {
    width: 100vw;
    height: 30.6px;
    background-color: #0cf;
    opacity : 1;
    position: fixed;
    text-align:center;
    top: -13px;
    left: 0;
    z-index: 500;
}

/* ローディング画面 */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #0bd;
    /* 以下のコードを追加 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.notVisible {
  visibility: hidden;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}